# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/
1. Journals
4. Links
5. Projects
6. Archive
7. Drafts
10. Templates
11. Attatched Files

